<h1 style="color: green; font-weight: bold;"><%= @place["name"] %></h1>
<br>

<h2 style="color: blue; font-weight: bold;">My Entries</h2>
<div class="mb-4"></div>

<% if session["user_id"] == nil %>
  <p>You have not logged in as a user, so you can't check any entry. Please log in and come back!</p>
<% else %>

  <div class="row">
    <% for entry in @entries %>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h3 style="font-weight: bold;"><%= entry["title"] %></h3>
        <h4><%= entry["occurred_on"] %></h4>
        <p><%= entry["description"] %></p>
      </div>
    <% end %>
  </div>

  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Entry</a>
  </p>

<% end %>

<p>
  <a href="/places">Back to All Places</a>
</p>